.overall-container {
    background: #FFFFFF;
    border-radius: 10px;
    padding: 0 30px 30px;
    margin: 15px 0;
    height: 535px;
}

.content {
    padding: 20% 0;
}

.spinner {
    margin: 0 auto;
    padding: 0;
    border: 12px solid white;
    border-radius: 50%;
    border-top: 12px solid #AAAAAA;
    border-bottom: 12px solid #AAAAAA;
    border-right: 12px solid #AAAAAA;
    width: 44px;
    height: 44px;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.page-header-text {
    font-family: 'Roboto';
    margin-top: 20px;
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 35px;
    /* identical to box height, or 146% */

    text-align: center;
    letter-spacing: 0.26px;

    color: #000000;
}

.detailed-description-text {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 30px;
    /* or 200% */

    text-align: center;
    letter-spacing: 0.26px;
    color: #555555;
}
.Upper-nav-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
ul.navbar-nav {
    display: flex;
    list-style: none;
    padding-left: 0;
}

.nav-link {
    display: flex;
    align-items: center;
    text-decoration: none;
    padding: 0 15px;
}

.nav-link-1 {
    display: flex;
    align-items: center;
    text-decoration: none;
}

.nav-item-text {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 13px;
    line-height: 30px;
    /* identical to box height, or 231% */

    letter-spacing: 0.26px;

    color: #555555;
    margin-left: 5px;
}

.nav-item-text-1 {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 13px;
    line-height: 30px;
    /* identical to box height, or 231% */

    letter-spacing: 0.26px;
    color: #555555;

}

.configure-button {
    height: 30px;
    background: #d1d1d1;
    border-radius: 4px;
    font-family: 'Roboto';
    font-style: normal;
    align-items: center;
    font-weight: 700;
    font-size: 13px;
    line-height: 30px;
    /* identical to box height, or 231% */

    text-align: right;
    letter-spacing: 0.26px;

    color: #000000;
    border: none;
}

.btn-text{
    margin:0 10px;
}

.configure-buttons-wrapper{
    width: fit-content;
    height: fit-content;
}